<!DOCTYPE html>
<html>
  <head>
    <title>QuestionDbReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <span class="welcome-message">
        <%= I18n.t("layout.welcome_message", user: current_user.name) %>
        <%= link_to "(#{I18n.t("layout.sign_out")})", destroy_user_session_path, method: :delete %>
      </span>
    <% end %>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "error_explanation" if msg.is_a?(String) %>
    <%- end -%>  
    <%= yield %>
  </body>
</html>
